@media (max-width: 1000px) {
    .Pizzas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main {
        margin: 25px auto;
    }
    .fas {
        width: 30%;
    }
    .data-pizzaImage img{
        height: 400px;
    }
    .pizza-settings {
        margin-top: 100px;
    }
}